
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>InsidentList</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<article>
  <div class="side">
    <!-- <p>サイドバー</p> -->
    <div>
      <h2>MENU</h2>
      <p>障害件数</p>
      <p>作業件数</p>
      <p>借用件数</p>
    </div>
  </div>
  <div class="content">
    <!-- <p>メインコンテンツ</p> -->
    <h1>INFRASTRUCTURE</h1>
    <img src="http://127.0.0.1:5000///graph1.png" alt=""></img>
    <table align="center" border="1">
      <caption>2021年度</caption>
      <thead>
        <tr>
          <th>04月</th>
          <th>05月</th>
          <th>06月</th>
          <th>07月</th>
          <th>08月</th>
          <th>09月</th>
          <th>10月</th>
          <th>11月</th>
          <th>12月</th>
          <th>01月</th>
          <th>02月</th>
          <th>03月</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ Apr }}</td>
            <td>{{ May }}</td>
            <td>{{ Jun }}</td>
            <td>{{ Jul }}</td>
            <td>{{ Aug }}</td>
            <td>{{ Sep }}</td>
            <td>{{ Oct }}</td>
            <td>{{ Nov }}</td>
            <td>{{ df_db_count }}</td>
            <td>{{ Jan }}</td>
            <td>{{ Feb }}</td>
            <td>{{ Mar }}</td>
          </tr>
      </tbody>  
    </table>
  
    <button>帳票出力</button>

    <table align="center" border="1">
      <thead>
        <tr>
          <td>件数</td>
          <td>管理番号</td>
          <td>サービス</td>
          <td>事象</td>
          <td>原因</td>
          <td>開始日時</td>
          <td>終了日時</td>
          <td>ステータス</td>
        </tr>
      </thead>
      <tbody>
        {% for r in d_records %}
          <tr>
            <td>{{ r.index }}</td>
            <td>{{ r.number }}</td>
            <td>{{ r.service }}</td>
            <td>{{ r.phenomenon }}</td>
            <td>{{ r.cause }}</td>
            <td>{{ r.start }}</td>
            <td>{{ r.finish }}</td>
            <td>{{ r.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="/top" method="POST" enctype="multipart/form-data">
      <div>
        <input type="month" id="name" name="name" placeholder="名前">	
      </div>
      <div>
        <input type="submit" value="読み込み">
      </div>
  </div>

</article>

  <script src="js/main.js"></script>
</body>
</html>

